<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637381202534-0moob2e407e5goleuibecuhi0umj1mf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637381202534-0moob2e407e5goleuibecuhi0umj1mf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAYQlagD30cH7LTlJ7u1txttySvnWNphYs</string>
	<key>GCM_SENDER_ID</key>
	<string>637381202534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaogarciaorg.UberApp</string>
	<key>PROJECT_ID</key>
	<string>uberapp-b3347</string>
	<key>STORAGE_BUCKET</key>
	<string>uberapp-b3347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637381202534:ios:8c83e5a14c16193c4f93a7</string>
</dict>
</plist>